[Unit]
Description=SD Card Backup to OneDrive
Requires=media-kyla-3232\\x2d6238.mount
After=media-kyla-3232\\x2d6238.mount

[Service]
Type=oneshot
User=kyla
ExecStart=/usr/local/bin/sdcard-backup.sh

[Install]
WantedBy=media-kyla-3232\\x2d6238.mount
