[Unit]
Description=SD Card Backup to OneDrive
After=network-online.target

[Service]
Type=oneshot
User=kyla
# wait to mount drive
ExecStartPre=/usr/bin/sleep 2
ExecStart=/usr/local/bin/sdcard-backup.sh
